.example-fill-remaining-space{
    flex: 1 1 auto;
}

.nav-btn{
    margin-right: 0.5em;
    background-color: #cf5e13;
    font-family: 'Orbitron', sans-serif;
    border: 2px solid black;
}

.fixed-header {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    background-color:#286dc7;
    z-index: 5;
    border: 2px solid black;
    font-family: 'Bowlby One SC', cursive;
}