.example-fill-remaining-space{
    flex: 1 1 auto;
}

.nav-btn{
    margin-right: 0.5em;
    background-color: #132584;
}

.fixed-header {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    background-color:blue;
    z-index: 5;
}