<div class="app-body">
    <div class="options">
        <h1>Welcome to Taskmaster!</h1>
        <h3>What would you like to do?</h3>
        <br />
        <!--Option Columns-->
        <mat-grid-list cols="3" rowHeight="2:1">
            <mat-grid-tile routerLink="">
                <h1>Boards</h1>
            </mat-grid-tile>
            <mat-grid-tile routerLink="/task/index">
                <h1>Task List</h1>
            </mat-grid-tile>
            <mat-grid-tile routerLink="">
                <div>
                <h1>User List</h1>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>