/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

.mat-dialog-container{
    background-color: lightgrey;
}

body{
    background-color:#cf5e13;
    font-family: 'Rambla', sans-serif;
    /* font-family: 'Orbitron', sans-serif; */
}

.app-body{
    margin-top: 7%;
}